  <div class="row">
  <div class="span6">
  <%= nested_form_for(@catalog) do |f| %>
      <%= render 'shared/error_messages',  error: @catalog  %>

          <%= f.label :title, 'Наименование строки:'%>
          <%= f.text_field :title %>
      
          <%= f.label :description, 'Описание:'%>
          <%= f.text_field :description %>
      
          <%= f.label :img, 'Ссылка на картинку:'%>
          <%= f.text_field :img %>
        
          <%= f.fields_for :catalogitems do |catitems_form| %>
              <div class="row">
              <div class="span3">
              <%= render partial: 'cat_items_fields', :locals => { :f => catitems_form } %>
              <%= catitems_form.link_to_remove "Удалить эту позицию" %>
             </div>
             </div>         
          <% end %>
          <%= f.link_to_add "Добавить вложенную строку каталога", :catalogitems %>
          
             <br>
             <%= f.submit "Сохранить каталог" , class: "btn btn-large btn-primary" %>
  <% end %>       
  </div> 

  </div>

  