<h1> Индивидуальный заказ № <%= @order.id %> </h1>
  
  Пользователь: <%= @order.user.nik %> </br>

<ol>
<% for item in @order.items %>
  <li>
    <%= order_stat (item.status)  %>
    Статус: <%= item.status  %></br>
    Стоимость товра: <%=h item.value %>, USD</br>
    Наименование товара: <%=h item.name %> </br>
    Рейтинг продавца: <%=h item.seller_rate %> </br>
    <%= link_to(item.link, item.link) %> </br>
<%= image_tag(item.img, size: "200x200", class: "img-polaroid") %> 
  </li>

<% end %>
</ol>

<% if @order.status < 1 %>
<p>
  <%= link_to "Изменить", edit_order_path(@order) %> |
  <%= link_to "Удалить", @order, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Просмотреть все заказы", orders_path %>
</p>
<% end %>