<%= form_for(@lott) do |f| %>
<%= render 'shared/error_messages',  error: @lott  %>
  
    <div class="span4">
      <%= f.label :lot_number, 'Номер ЛОТА:'%>
      <%= f.text_field :lot_number, class: 'input-small' %><br />
    </div> 
    <div class="span4">
      <%= f.label :name, 'Наименование товара:'%>
      <%= f.text_field :name %><br />
    </div> 
    <div class="span4 ">
      <%= f.label :value, 'Стоимость в руб. РФ:'%>
      <%= f.text_field :value, class: 'input-small' %><br />
    </div> 
    <div class="span6 ">
      <%= f.label :color, 'Цвет товара:'%>
      <%= f.text_field :color %><br />
    </div> 
    <div class="span6 ">
      <%= f.label :size, 'Размер:'%>
      <%= f.text_field :size %><br />
    </div> 
   <div class="span12 ">  
      <%= f.label :comment, 'Коментарий:'%>
      <%= f.text_area :comment, placeholder: "В случае необходимости укажите Ваш коментарий (не обязательно)...",
        rows: 3 %><br />
    </div>   
    <div class="span12 ">  
      <%= f.submit "Оформить участие в ЛОТЕ" , class: "btn btn-large btn-primary" %> 
    </div>   
<% end %>
