<h1>Все входящие платежи</h1>

<table>
<% @payment.each do |payment| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td>
       <%= payment.id %>
    </td>
    
     <td>
     <%= l payment.data, format: :dt %> 
    </td>
   
    <td>
     <%= l payment.time, format: :tm %> 
    </td>
   
    <td class="bold_text">
      <%= payment.value %> руб. РФ
    </td>
    <td>
     <%= payment.comment %> 
    </td>
   
    <td>
     <%= payment.user.nik %> 
    </td>
    
    <td class="list_actions">
      <%= link_to 'Подробнее', payment %><br/>
      <%= link_to 'Редактировать', edit_payment_path(payment) %><br/>
      <%= link_to 'Удалить', payment, method: :delete,
                  data: { confirm: 'Вы уверены?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Пополнить баланс', new_payment_path %>
