<h1>Индивидуальные заказы поиск</h1>

<%= form_tag items_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-large btn-primary" %>
  </p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th></th>
      <th>Дата</th>
      <th>Сумма</th>
      <th>№ Заказа</th>
    </tr>
  </thead>
  <tbody>
     <% @item.each do |item| %>
        <tr>
        <td><%= link_to item.id, item_path(item) %></td>
         <td>
                <a class="pull-left" href="#">
                <%= link_to image_tag(item.img, size: "50x50"), item.link  %>
                </a>
               <div style="width:100px;">
                 <small>
                   Размер: <%= item.size %> <br/>
                   Цвет: <%= item.color %> <br/>
                 </small>
              
               </div>
               </td> 
              <td>
                <%= l item.created_at, format: :short %><br/>
                <i class="icon-user"></i><%= item.order.user.nik %> <br/>
                   Баланс: <%= item.order.user.balance %>
              </td>
        <td>
          <h4><strong><%= item.count %> x</strong></h4>
          <h3><strong>$<%= best_in_place item, :value %></strong></h3><br/>
 
        </td>
          <td>
            <%= best_in_place item, :order_no %><br/>
            <%= order_stat(item.status)  %>
          </td>
          <td>
            <% if item.status == 7 %>
            <%= link_to 'На складе', na_sklade_admin_item_path(item), :class => 'btn btn-mini' %>
            <%= link_to 'Отмена', cancel_admin_item_path(item), :confirm => 'Вы уверены?', :class => 'btn btn-mini btn-danger' %>
            <% end %> 
          </td>  
        </tr>
    <% end %>
   </tbody>
</table>