<span class="user_lst">
<b>Участники лота:</b><br>
  <% @lot.lotitems.each do |lotitem| %>
    <!-- Modal -->
<div class="modal fade" id='<%= lotitem.id %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Забронировать <%= lotitem.item %> </h4>
	        <%= lotitem.lot.name %>
	      </div>
      <div class="modal-body">
         <%= lotitem.item %>
        <%= render partial: 'dialog', locals: { lotitempartial: lotitem } %>
      </div>
    </div>
  </div>
</div>
      <!-- <%= order_stat( lotitem.status ) %> -->
      <% if lotitem.user_id == 0 %>
 <span class="btn btn-mini" data-toggle="modal" data-target='#<%= lotitem.id %>'> Бронь </span>


          <b><%= lotitem.item %></b> 
          Свободно<br> 
      <% else %>
        <%= link_to 'Снять', debook_lot_path( l_param: lotitem.id ), :class => 'btn btn-mini btn-danger ' %> 
        <b><%= lotitem.item %></b> 
        <span class="green"><%= lotitem.user.nik %>  <%= lotitem.color %>  <%= lotitem.comment %></span><br>
      <% end %>
  <% end %>
 
  <span class="lot_total">
    У Вас бронь на:  <%= total_lot_price( @lot, current_user )  %> 
    <%= current_user.configApp.currency  %>
  </span> 
</span>


