<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "kupibazar.com", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-list icon-white"></i> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% @cat = Catalog.all %>
                <% @cat.each do |cat|%>
                <li><a href="#" id="example1" rel="popover" data-original-title="Детская одежда" data-trigger="manual">
                  Детская Одежда<br>
                  <small>Верхняя, нижняя</small>
                </a></li>  
                <div class="popover" onmouseover="$(this).mouseleave(function() {$(this).hide();});"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
                <script>
                        $(function(){
                          var timeoutObj;
                          // pop up #example1, #example2, #example3 with same content
                        $("a[rel=popover]")
                                  .popover({
                                        offset: 10,
                                        trigger: 'manual',
                                        html: true,
                                        placement: 'right',
                                        
                                        }).mouseenter(function(e) {
                                        $(this).popover('show');
                                        }).mouseleave(function(e) {
                                        var _this = this;
                                        setTimeout(function() {
                                        if (!$(".popover:hover").length) {
                                          $(_this).popover("hide");
                                         }
                                        }, 100);
                                    });    
                      
                          
                        });
              </script>
                <% end %>
             </ul>
            </li>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if user_signed_in? %>
          <% if can? :manage, :admin_items %>
           <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Проверка ед. заказов", list_confirm_admin_items_path %></li>
                <li><%= link_to "Закупка ед. заказов", list_pay_admin_items_path %></li>
                <li><%= link_to "Оплаты на согласование", list_payments_admin_items_path %></li>
                <li><%= link_to "Лоты на согласование", list_lotts_admin_items_path %></li>
                <li><%= link_to "Все Лоты", list_lotts_all_admin_items_path %></li>
                <li><%= link_to "Все Заказы", admin_items_path %></li>
                <li><%= link_to "Номера заказов", list_items_admin_items_path %></li>
                <li><%= link_to "Поиск заказа", items_path %></li>
                <li><%= link_to "Поиск по клиенту", user_search_admin_items_path %></li>
                <li><%= link_to "Всего на купибазаре", summury_totals_path %></li>
              </ul>
            </li>
           <% end %>
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Manage <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Проверка лотов", lot_for_confirm_lotadmin_index_path %></li>
              </ul>
            </li>
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Пополнение <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Пополнить баланс", new_payment_path %></li>
                <li><%= link_to "История пополнений", payments_path %></li>
              </ul>
            </li>
          
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Оформить заказ <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Сборный лот", new_lott_path %></li>
                <li><%= link_to "Индивидуальный заказ", new_order_path %></li>
                <li><%= link_to "Мои заказы", orders_path %></li>
                <li><%= link_to "Мои ЛОТЫ", lotts_path %></li>
              </ul>
            </li>
            
              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user icon-white"></i> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Кабинет", current_user %></li>
                <li><%= link_to "Настройки", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Выход", destroy_user_session_path, :method => :delete %>
                </li>
              </ul>
            </li>
            <!-- <li><%= link_to "Баланс, руб. РФ:", "#" %></li>
            <li><%= link_to current_user.balance, "#" %></li> -->
          <% else %>
            <li><%= link_to "Войти", new_user_session_path %> </li>
            <li><%= link_to "Регистрация", new_user_registration_path %></li>              
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
