<h1>Всего на купибазаре:</h1>

Всего зарегистрированно пользователей в системе: <b><%= @user_cnt %></b> <br/>
Всего на балансе пользователей в системе: <b><%= @user_blc %> </b> <br/>
------------------------------------------------------ <br/>
Всего оформлено заказов на сумму: <b><%= @item %> USD</b> <br/>
Всего заработано: <b><%= @item_cash %> USD</b> <br/>
------------------------------------------------------ <br/>
Всего оформлено заказов за последний месяц на сумму: <b><%= @item_lm %> USD</b> <br/>
Всего заработано за последний месяц: <b><%= @item_cash_lm %> USD</b> <br/>
------------------------------------------------------ <br/>
Всего оформлено заказов за предыдущий месяц на сумму: <b><%= @item_lm1 %> USD</b> <br/>
Всего заработано за предыдущий месяц: <b><%= @item_cash_lm1 %> USD</b> <br/>